.menu {
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 10px 0;
  }
  
  .menu ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .menuitem {
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding: 1rem;
  }
  
  .menuitem .link {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 1rem;
    width: 100%;
    border-radius: 5px;
  }
  
  .menuitem .link:hover {
    background-color: #575757;
  }
  