.update-form {
    margin: 1rem;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: .5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h1 {
    text-align: center;
    font-size: 1.75rem;
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
}

input, select {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
}

input:focus, select:focus {
    border-color: #007bff;
    outline: none;
}

button {
    padding: 12px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

button[type="submit"]:disabled {
    background-color: #b0c4de;
    cursor: not-allowed;
}

button[type="button"] {
    background-color: #dc3545;
    color: white;
}

button[type="button"]:hover {
    background-color: #c82333;
}

@media (max-width: 600px) {
    .update-form {
        padding: 15px;
        max-width: 90%;
    }

    h1 {
        font-size: 1.5rem;
    }
    
    input, select {
        font-size: 0.9rem;
    }

    button {
        font-size: 0.9rem;
    }
}
